@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sans-serif;
}

.logo {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    color: #fff;
}

.logo span {
    color: #c300ff;
    font-family: "Bebas Neue";
}

.logo h1 {
    font-size: 2.8em;
}

video {
    z-index: -1;
    position: absolute;
    top: 0;
    filter: blur(4px);
}

.center {
    width: 60%;
    margin: auto;
    margin-top: 4%;
    text-align: center;
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#c300ff3d 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    border-radius: 10px;
    padding-bottom: 4%;
}

a {
    text-decoration: none;
}

.btn {
    margin-top: 0;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: rgb(195, 0, 255, 0.4) 0px 2px 4px, rgb(195, 0, 255, 0.3) 0px 7px 13px -3px, rgb(195, 0, 255, 0.2) 0px -3px 0px inset;
    text-decoration: none;
    border: none;
    color: #c300ff;
    background-color: #fff;
    width: 17%;
    padding: 1%;
    margin: auto;
    text-align: center;
}

button:active {
    transform: scale(0.9);
}